{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}ImperiumBid | Online Bidding Platform{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css?{% now "U" %}" />
    <link rel="stylesheet" href="/static/css/toast.css?{% now "U" %}" />
    <script src="/static/js/script.js?{% now "U" %}" defer></script>
    <script>
      let isUserLoggedIn = {% if request.user.is_authenticated %}true{% else %}false{%endif%};
    </script>
  </head>
  <body>
    {% include "components/header.html" %}
    {% block body %}{% endblock %}
    {% include "components/footer.html" %}
    {% include "components/toast.html" %}
  </body>
</html>
