{% extends "layouts/base.html" %}

{% block body %}
      <main style="margin-top: 20px;">
        <section style="margin-top: 5px;">
          {% include "components/breadcrumb.html" %}
					<h2 style="margin: 10px 0px;">{{ bid.title }}</h2>
          <div style="display: flex; gap: 10px;">
						<img src="/uploads/{{ bid.image }}"/>
            <div>
							<h3 style="font-size: 30px;">{{ bid.title }}</h3>
							<p>{{ bid.description }}</p>
							<p>Price: ${{ bid.price }}</p>
							<p>Deadline: {{ bid.deadline_at }}</p>
              <button class="button" style="padding: 8px 15px; font-size: 18px;">Bid</button>
            </div>
          </div>
        </section>
      </main>
{% endblock %}
