{% extends "layouts/base.html" %}

{% block body %}
      <main style="margin-top: 20px;">
        <section style="margin-top: 5px;">
          {% include "components/breadcrumb.html" %}
          <div style="display: flex; gap: 10px; margin-top: 30px;">
            <div style="max-width: 600px;">
              <img src="/uploads/{{ bid.image }}" style="width: 100%;" />
            </div>
            <div>
							<h2 style="font-size: 30px;">{{ bid.title }}</h2>
							<p>{{ bid.description }}</p>
							<p>Price: ${{ bid.price }}</p>
							<p>Deadline: {{ bid.deadline_at }}</p>
              {% include "components/bid_or_bid_history.html" %}
            </div>
          </div>
        </section>
      </main>
{% endblock %}
