<header>
	<h1><a style="color: inherit; text-decoration: none;" href="/">Imperium<span style="color: #dfac3e;">Bid</span></a></h1>
	{% include "components/search_bar.html" %}
	<nav>
		<ul style="align-items: center; gap: 20px;">
			<li class="button" style="padding: 10px 15px;"><a style="color: inherit; text-decoration: none;" href="/explore">Explore</a></li>
			<li style="display: flex;">
				<span>Account</span>
				<span>
					<svg style="width: 18px; height: 18px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
						<path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z" clip-rule="evenodd" />
					</svg>
				</span>
			</li>
		</ul>
	</nav>
</header>

